.about{
    position: relative;     
    background-image: linear-gradient(to right, white 50%, rgba($color-two, .1) 50%);  

    &__container{
        margin: 0 auto;
        padding: 15rem 0;
        width: $container-width;
        position: relative;

        @include respond(big-tab){
            width: 100rem;
        }

        @include respond(small-tab){
            width: 100%;
        }
        @include respond(phone){
            padding: 8rem 0;
        }
    }
    &__presentation{
        position: relative;
        padding-left: 10%;  
        @include respond(small-tab){
            padding-left: 15%;
        }
        @include respond(phone){
            padding: 10%;
        }
    }

    &__left{
        @include left;
        @include respond(small-tab){
            width: 45%;
        }
        @include respond(phone){
            position: absolute;
            width: 50%;
            height: 55rem;
        }
    }
    &__right{
        @include right;
        @include respond(small-tab){
            width: 55%;
        }
        @include respond(phone){
            width: 90%;
            float: right;

        }
        @include respond(small-phone){
            width: 100%;
            float: right;

        }
    }
    &__title{
        @include title;
    }

    &__number{
        top: 4.5rem;
        left: -3rem;
        @include respond(small-tab){
            left: -3.2rem;
        }
        @include respond(phone){
            top: -1rem;
            left: -2.5rem;
        }
        @include respond(small-phone){
            top: -6rem;
        }
    }

    &__photo{
        @include photo;
        background-image: url(../img/about.jpg);

        @include respond(small-phone){
            background-image: none;
        }
    }
    &__frame{
        &--1{
            @include frame1;
            @include respond(phone){
                height: 42rem;
                top: 30%;
            }
            @include respond(small-phone){
                height: 42rem;
                top: 20%;
            }
        }
        &--2{
            @include frame2;
            top: 10%;
            @include respond(big-tab){
                top: 0;
            }
            @include respond(phone){
                top: 5%;
                right: -5%;
            }
            @include respond(small-phone){
                top: -10%;
                right: -5%;
            }
        }
    }
    &__content{
        @include content;
        bottom: 5rem;
        left: -30%;      
        transition: all .5s ease-out;

        @include respond(phone){
            bottom: 0;
            left: 0;    
        }

        & p{
            margin-bottom: 2rem;
        }
    }
    &__trio{
        width: $container-width;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 20rem;
        @include respond(big-tab){
            width: 100rem;
        }
        @include respond(small-tab){
            width: 100%;
        }

        @include respond(phone){
            padding-bottom: 10rem;
        }
       
    }
}


.window{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;


    perspective: 150rem;
    -moz-perspective: 150rem;

    &__box{
        display: inline-block;
        width: 32rem;
        height: 32rem;
        padding: 2rem;
        margin: 2rem;
        position: relative;
        border: 1px solid $color-three;
        transition: all .3s ease-in-out;
        &:hover{
            transform: scale(1.1);
            @include respond(mobile){
                transform: scale(1);
            }
        }

        @include respond(small-tab){
            display: block;
            margin: 2rem auto;
            width: 40rem;
            height: 40rem;
        }

        @include respond(small-phone){
            width: 38rem;
            height: 38rem;
        }
    }    

    &__side{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        transition: all .8s ease;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        overflow: hidden;

        &--back{
            transform: rotateY(180deg); 
        }
    }

    &__front{
        width: 28rem;
        height: 28rem;      
        position: relative;
        background-color: $color-two;       
        z-index:20;

        @include respond(small-tab){
            width: 36rem;
            height: 36rem;
        }
        @include respond(small-phone){
            width: 34rem;
            height: 34rem;
        }


        &--btn{
            width: 100%;
            height: 100%;
            background-color: transparent;
            border: none;
            cursor: pointer;
            z-index:500;
        }

        &--text{
            width: 8.5rem;
            position: absolute;
            bottom: 0rem;
            left: 2rem;
            padding: 1rem;
            border-left: 2px solid $color-grey;
            text-align: left;

        }
        &--arrow{
            position: absolute;
            bottom: 2rem;
            right: 4rem;
        }
    }

    &__back{

        &--content{            
            position: relative;   
            @include respond(small-tab){
                padding: 3rem;                
            }             
        }
        &--title{
            margin-bottom: 2rem;
        }
        &--text{
            margin-bottom: 1rem;

            & a {
                color: $color-three;
            }
        }
        &--list{
            padding-top: 1rem;
            list-style: none;
            & li{
                margin: 2rem 0;
            }
        }
        &--close{   
            position: absolute;
            top: -1rem;
            right: 0;
            outline: none;

            &-btn{
                background-color: transparent;
                border:none;             
                font-size: 3rem;
                color: $color-three;
                cursor: pointer;
            }
        }
    }
}













.slideOutLeft{
    transform: translateX(-160%);
}

.slideOutRight{
    transform: translateX(160%);
}
.slideIn{
    transform:translateX(0);
}

.hidden{
    display: none;
}