*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
    font-size: 62.5%;   
    
    @include respond(desktop) { //1500
		font-size: 62.5%;
		-webkit-text-size-adjust:none; 
    }

    @include respond(big-tab) {  // width < 1300 ?
		font-size: 54.16%; // 1rem = 9px, 8/16 = 50%
		-webkit-text-size-adjust:none; 
	}

	@include respond(small-tab) {
		font-size: 50%; // 1rem = 8px, 8/16 = 50%  // width < 900 ?
		-webkit-text-size-adjust:none; 
	}

	@include respond(phone) {
		font-size: 45%;
		-webkit-text-size-adjust:none; 
	}

	@include respond(big-desktop) {
		font-size: 83%;
		-webkit-text-size-adjust:none; 
	}

}

body {
	box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container{
	width: $container-width;
	margin: 0 auto;
    position: relative;
    @include respond(big-tab){
        width: 100rem;
    }
    
    @include respond(small-tab){
        width: 100%
    }
}
.number{
	&__box{
	position: absolute;
	left: 8.5rem;
    z-index: 50;
        @include respond(small-tab){
            left: 7.5rem;
        }
	}
	&__container{
		position: relative;
	}
	&__dash{
		width: 6rem;
		height: 3px;
		position: absolute;
		top: 15rem;
		left: 0;
		z-index:50;
		&--gold{background-color: $color-three;}
        &--pink{background-color: $color-two;}
        @include respond(phone){
            width: 4rem;
            top: 10rem;
        }
	}
}



.center{
	float: left;
	width: 100%;
	margin: 0 auto;

}
