*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
    font-size: 62.5%;   
    
    @include respond(desktop) { //1500
        font-size: 62.5%;
    }

    @include respond(big-tab) {  // width < 1300 ?
		font-size: 54.16%; // 1rem = 9px, 8/16 = 50%
	}

	@include respond(small-tab) {
		font-size: 50%; // 1rem = 8px, 8/16 = 50%  // width < 900 ?
	}

	@include respond(phone) {
		font-size: 45%;
    }

    @include respond(big-desktop) {
		font-size: 75%; //1rem = 12px, 12/16 
	}
}

body {
	box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container{
	width: 120rem;
	margin: 0 auto;
	position: relative;
}
.number{
	&__box{
	position: absolute;
	left: 8.5rem;
	z-index: 50;
	}
	&__container{
		position: relative;
	}
	&__dash{
		width: 6rem;
		height: 3px;
		position: absolute;
		top: 15rem;
		left: 0;
		z-index:50;
		&--gold{background-color: $color-three;}
		&--pink{background-color: $color-two;}
	}
}



.center{
	float: left;
	width: 100%;
	margin: 0 auto;

}

.box{
    position: relative;     

    &__presentation{
        position: relative;
        padding-left: 10%;              
    }

    &__title{
        position: absolute;
        z-index: 200;
        color: $color-two;
        transition: all .5s ease-out;
    }

    &__photo{
        width: 50%;
        height: 50rem;
        position: relative;
        @include bgCenter;
        background-color: $color-three;
        float: left;    
        z-index:20;  
        transition: all .5s ease-out;
    }
    &__frame{
        &--1{
            width: 52.5rem;
            height: 50rem;
            position: absolute;
            top: 3.9rem;
            left: 7.6rem;
            border: 1px solid $color-two;
            z-index:0;
        }
        &--2{
			width: 50%;
            height: 33.5rem;
            position: absolute;
            border: 1px solid $color-two;
            z-index:0;
        }
    }
    &__content{
        width: 50%;
        position: absolute;      
        background-color:white;     
        padding: 5rem;
        z-index: 100;
    }
}