.contact{
    padding: 15rem 0;
    background-image: linear-gradient(to right, white 50%, $color-grey 50%);
    &__container{
        height: 70rem;
    }
    &__number{
        top: 5rem;
    }
    &__title{
        top: 4rem;
        right: 0;
    }
    &__content{
        width: 60%;  
        bottom: -20rem;
        left: 40%;    
    }
    &__photo{
        background-image: url(../img/post.jpg);
    }
    &__frame{
        &--2{
            top: 3.5rem;
            right: -4rem;
        }
    }
}

#submit{
    background-color: $color-two;
    padding: 1rem 2rem;
    border: none;
    color: white;
    cursor: pointer;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 1.2rem; 
    border: 1px solid #ccc;
    border-radius: 4px;    
    margin-top: 1rem;
    margin-bottom: 1.6rem;
    resize: vertical;
  }