.landpage{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 500;

    &__left{
        width: 50%;
        height: 100%;
        float: left;
        position: relative;
        background-image: url(../img/landpage_L.jpg);
        background-position: right;
        background-size: cover;
        transition: all .5s ease-in-out;
    }
    &__right{
        width: 50%;
        height: 100%;
        float: right;
        position: relative;
        background-image: url(../img/landpage_R.jpg);
        background-position: left;
        background-size: cover;
        transition: all .5s ease-in-out;
    }

    &__container{
        width: 100%;            
        height: 100%;    
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all .5s ease-in-out;
    }

    &__title{
        width: 100%;
        height: 100%;
        position: relative;
        &--blockW{
            width: 20rem;
            height:20rem;
            background-color: white;
            color: $color-grey-dark-1;
            position: absolute;
            top: 38%;
            left: 39%;
            padding: 2rem;
            z-index: 500;
            transition: all .6s ease-in-out;

            @include respond(big-tab){
                top: 40%;
                left: 35%;
            }
            @include respond(small-tab){
                left: 33%;
            }
            @include respond(phone){
                left: 18%;
            }
            @include respond(small-phone){ 
                width: 16rem;
                height:16rem; 
                top: 45%;              
                left: 10%;
            }
        }
        &--blockG{
            width: 20rem;
            height:20rem;
            background-color: $color-grey;
            color: $color-two;
            position: absolute;
            top: 45%;
            left: 48%;
            padding: 2rem;
            z-index: 400;
            transition: all .6s ease-in-out;
            @include respond(phone){
                left: 45%;
            }
            @include respond(small-phone){ 
                width: 16rem;
                height:16rem; 
                top: 50%;              
                left: 50%;
            }
        }

        &--box{
            position: relative;
            width: 100%;
            height: 100%;
        }
        &--name{
            
            position: absolute;
            top: 40%;
            left:50%;
            transform: translate(-50%,-40%);
            background-color: $color-two;
            color: white;
            padding: 1rem 2rem;
            z-index:600;
            transition: all .6s ease-in-out;
            

        }
        &--desc{
            text-align: right;
            position: absolute;
            bottom: 0;
            right: 0;
        }
        &--frame{            
            width: 40rem;
            height:23rem;
            border: 1px solid $color-two;
            position: absolute;
            top: 38%;
            left: 37%;                
            padding: 2rem;
            z-index: 100;    
            transition: all .3s ease-in-out;        
            @include respond(big-tab){
                top: 40%;
                left: 33%;
            }
            @include respond(small-tab){
                left: 30%;
            }
            @include respond(phone){
                left: 12%;
            }
            @include respond(small-phone){                
                left: 5%;
            }
        }
   }
    &__enter{
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -80%);
        transition: all .5s ease-in-out;
        outline: none;

        @include respond(small-phone){                
            top: 90%;
        }

        &--btn{
            color: white;
            border:none;
            background-color: $color-two;
            padding: 1rem 2rem;
            cursor: pointer;
            box-shadow: 1px 1px 20px black;
            transition: all .3s ease-out;
            outline: none;

            &:hover{
                transform: translateY(-.5rem) scale(1.05);
            }
        }

    }
}