@mixin absCenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin bgCenter{
    background-size: cover;
    background-position: center;
}

//MIXINS MEDIA QUERIES

@mixin  respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 37.5em) {@content};   //600px
    }

    @if $breakpoint == small-tab {
        @media (max-width: 56.25em) {@content};  //900px 
    } 
    
    @if $breakpoint == big-tab {
        @media (max-width: 81.25em) {@content};  //1300px
    }
    @if $breakpoint == desktop {
        @media (max-width: 93.75em) {@content};  //1500px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) {@content};  //1800px
    }
    

    //No Hover touchscreen
    @if $breakpoint == mobile {
        @media (hover: none) {@content};
    }
    
}