@mixin absCenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin bgCenter{
    background-size: cover;
    background-position: center;
}

@mixin bgContain{
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
}

@mixin btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

@mixin left{
    width: 50%;
    height: 50rem;
    position: relative;
    float: left;
}
@mixin right{
    width: 50%;
    height: 50rem;
    position: relative;
    float: left;
}

@mixin title{
    position: absolute;
    z-index: 200;
    color: $color-two;
    top: -6rem;
    right: 0;
    transition: all .5s ease-out;
}

@mixin photo{
    width: 100%;
    height: 100%;
    position: relative;
    @include bgCenter;
    float: left;    
    z-index:20;  
    transition: all .5s ease-out;
}

@mixin content{
    width: 100%;
    position: absolute;      
    background-color:white;     
    padding: 5rem;
    z-index: 100;
}

@mixin frame1{
    width: 90%;
    height: 50rem;
    position: absolute;
    top: 10%;
    left: -10%;
    border: 1px solid $color-two;
    z-index:0;
}

@mixin frame2{
    width: 100%;
    height: 33.5rem;
    position: absolute;
    right: 20%;
    border: 1px solid $color-two;
    z-index:0;
}

//MIXINS MEDIA QUERIES

@mixin  respond($breakpoint) {
    @if $breakpoint == small-phone {
        @media only screen and (max-width: 21.75em) {@content};   //300px
    }

    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) {@content};   //600px
    }

    @if $breakpoint == small-tab {
        @media only screen and (max-width: 56.25em) {@content};  //900px 
    } 
    
    @if $breakpoint == big-tab {
        @media only screen and (max-width: 75em) {@content};  //1200px
    }
    @if $breakpoint == laptop-small {
        @media only screen and (max-width: 86.25em) and (max-height: 43.75em) {@content};  //1380px -800
    }
    @if $breakpoint == laptop {
        @media only screen and (max-width: 86.25em) and (max-height: 50em) {@content};  //1380px -800
    }

    @if $breakpoint == desktop {
        @media only screen and (max-width: 93.75em) {@content};  //1500px
    }
    @if $breakpoint == mid-desktop {
        @media only screen and (min-width: 100em) {@content};  //1600px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 125em) {@content};  //2000px
    }
    

    //No Hover touchscreen
    @if $breakpoint == mobile {
        @media (hover: none) {@content};
    }
    
}