
.skill{
    position: relative;
    background-image: linear-gradient(to right, $color-grey-dark-1 50%,  $color-grey-dark-2 50%);
    color: $color-two-light;


    &__number{
        top: 8rem;
        @include respond(phone){
            left: 1.5rem;
            top: 12rem;
        }
    }



    &__title{

        text-align: center;
        padding: 15rem 0;
        position: relative;
        h3{
            position: relative;
            display: inline;
            color:$color-grey;
            background-image: linear-gradient(to right, $color-grey-dark-1 50%,  $color-grey-dark-2 50%);
            padding:1rem;
            z-index: 200;
        }
        &--number{
            position: absolute;
            top: 1rem;
            left: 8%;
        }
        &--frame{
            position: absolute;
            border: 1px solid $color-two;
            z-index: 10;
            
            &-1{
                width:25%;
                height:24%;
                top:50%;
                left:43%;
                
            }
            &-2{
                width:30%;
                height:32%;
                top:30%;
                left:33%;
                
            }
        }
    }
    &__subtitle{
        color:$color-three;
        text-align: center;
        padding-top: 1rem;

    }

    &__border{
        width: 50%;
        height: 100%;
        float: left;
        border-right: 1px solid $color-two;
    }

    &__maxibox{
        width: 100%;
        text-align: center;
        &--left{
            padding-top: 50%;
            padding-bottom: 10rem;
        }

        &--right{
            padding-top: 50%;
            padding-bottom: 10rem;
        }
    }
    &__box{
        position: relative;
    }
    &__outline{

        height: 1px;
        background-color: $color-two;  
        position: absolute;
        top:0;

        &--center{
            position: relative;
            width: 55.2rem;
            margin: 0 auto;
            @include respond(phone){
                width: 37.2rem;
            }
            @include respond(small-phone){
                width: 25.2rem;
            }
        }
        &--center-small{
            position: relative;
            width: 36.8rem;
            margin: 0 auto;

            @include respond(phone){
                width: 24.8rem;
            }
            @include respond(small-phone){
                width: 16.8rem;
            }
        }
    }
    &__offset{
        width: 100%;
        height: 20rem;
        @include respond(phone){
            height: 10rem;
        }
    }

    &__item{
        width: 10rem;
        height: 24.2rem;
        margin: 0 4rem;
        display: inline-block;
        position: relative;
        text-align: center;
        vertical-align: top;
        @include respond(phone){
            width: 8rem;
            height: 22.2rem;
            margin: 0 2rem;
        }
        @include respond(small-phone){
            width: 6rem;
            margin: 0 1rem;
            height: 19.7rem;
        }



        & img{
            width: 100%;            
        }
        
        &--line{
            width: 1px;
            height: 5rem;            
            background-color: $color-two;              
            margin: 0 auto;     
            transition: all .5s ease-out;

        }
    }
    &__text{
        margin-bottom: 2rem;
    }

    &__inProgress{
        color: white;
        text-align: center;
        font-style: italic;
    }

}