// font-family: 'Roboto', sans-serif;
// font-family: 'Roboto Condensed', sans-serif;
// font-family: 'EB Garamond', serif;


body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    color: $color-one;
}

h1{
    font-family: 'EB Garamond', serif;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: .2rem;
    color: white;
    text-transform: uppercase;
}

h2{
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    font-size: 1.8rem;
    font-weight: 300;
    text-transform: uppercase;
}

h3{
    font-family: 'EB Garamond', serif;
    text-transform: uppercase;
    font-size: 6rem;
    line-height: 6rem;
    vertical-align: bottom;
    font-weight: 300;
    color: $color-two; 
}

h4{
    font-family: 'EB Garamond', serif;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: .1rem;
    color: $color-three;
}

.cap{
    font-size: 12rem;
}

.subtitle{
    font-size: 6rem;
    font-family: 'EB Garamond', serif;
    line-height: 6rem;
    font-weight: 300;
    color: $color-two;
    font-variant: small-caps;
    text-align: center;
}

.about{
    &__circle{
        &--text{
            font-family: 'EB Garamond', serif;
            color: $color-two;
            font-size: 2.5rem;
            text-align: center;
        }
    }
}



.fill-letter {
    position: relative;
  }
  .fill-letter:after {
    display: block;
    content: "";
    position: absolute;
  }
  .o:after {
    background-color: white;
    height: 45%;
    left: 25%;
    top: 30%;
    width: 50%;
    z-index: -1;
  }