//COLORS

$color-one: #361d20;
$color-one-light: #683f44;
$color-two: #ff4545;
$color-two-light: #ffecec;
$color-three: #dd9230;


$color-grey: #eeeeee;
$color-grey-medium: #BDBDBD;
$color-grey-medium-2: #6d6d6d;
$color-grey-dark-1:#212121;
$color-grey-dark-2:#303030;


