.work{
    background-image: linear-gradient(to right, rgba($color-two, .8) 50%, rgba($color-two, .5) 50%);
    padding: 15rem 0;
    position: relative;

    @include respond(phone){
        padding: 10rem 0;
    }

    &__title{
        text-align: center;
        padding: 10rem 0;
        position: relative;
        background-color: white;
        position: relative;
        z-index: 80;

        h3{
            position: relative;
            display: inline;
            color:$color-two;
            background-color: white;
            padding:1rem;
            z-index: 200;
        }
        &--frame{
            position: absolute;
            border: 1px solid $color-two;
            z-index: 10;
            
            &-1{
                width:25%;
                height:30%;
                top:50%;
                left:43%;                
            }
            &-2{
                width:26%;
                height:40%;
                top:26%;
                left:35%;                
            }
        }
    }
    &__number{
        position: absolute;
        top: 3rem;
        left: 8%;
        z-index: 200;
        @include respond(phone){
            left: 1.5rem;
            top: 6.5rem;
        }
    }
    &__frame{
        width: 90%;
        height: 65%;
        border: 1px solid white;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -20%);
        z-index:50;
    }
}

.gallery{

    &__container{
        width: 100%;
        height: 40rem;
        background-color: $color-grey-dark-1;
        position: relative;
        z-index: 100;
    }

    &__square{
        width:25%;
        height: 100%;
        float: left;
        position: relative;
        border-right:1px solid $color-two;
        overflow: hidden;    
        @include respond(phone){
            width: 50%;
            height: 50%;
        }
        
        & a {
            cursor: pointer;
        }
        
        &:hover .gallery__img{
            transform: scale(1.2);
        }
        &:hover .gallery__content--text{
            padding-bottom: 8rem;
        }
    }

    &__content{
        position: absolute;
        top: 0;
        left:0;
        width: 100%;
        height: 100%;

        &--text{
            width: 70%;
            position: absolute;
            left:4rem;
            bottom:0;
            border-left: 1px solid white;
            padding: 2rem;
            padding-bottom: 4rem;
            color: white;
            transition: all .3s ease-out;

            @include respond(phone){
                padding: 1rem;
                padding-bottom: 2rem;
            }
        }
    }

    &__img{

        width: 100%;
        height: 100%;
        @include bgCenter;
        transition: all .5s ease-in-out;

        &--1{
            background-image: linear-gradient(
                to bottom,
                rgba($color-grey-dark-1, 1), 
                rgba($color-grey-dark-2, .8)),
                url(../img/website_01.jpg);
        }
        &--2{
            background-image: linear-gradient(
                to bottom,
                rgba($color-grey-dark-1, 1), 
                rgba($color-grey-dark-2, .8)),
                url(../img/website_02.jpg);
        }
        &--3{
            background-image: linear-gradient(
                to bottom,
                rgba($color-grey-dark-1, 1), 
                rgba($color-grey-dark-2, .8)),
                url(../img/website_03.jpg);
        }
        &--4{
            background-image: linear-gradient(
                to bottom,
                rgba($color-grey-dark-1, 1), 
                rgba($color-grey-dark-2, .8)),
                url(../img/website_04.jpg);
        }
        
    }
        
}